<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="{{site.baseurl}}/">Home</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">About</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">Archive</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">Important Links</a>
                <div class="dropdown-content">
                  <a href="https://www.youtube.com/@jeffjones-fv3ds">YouTube</a>
                  <a href="https://buymeacoffee.com/screamingintothenight">Buy me a cup of coffee</a>
                  <a href="https://www.publish0x.com/@jeffrodestructo">Publish ox</a>
                  <a href="https://www.fiverr.com/jeffrodestructo/remote-view-targets-for-you-and-can-also-do-energy-views?context_referrer=search_gigs&source=top-bar&ref_ctx_id=d1fecff932e5477b9c5d1668ae5276fe&pckg_id=1&pos=7&context_type=auto&funnel=d1fecff932e5477b9c5d1668ae5276fe&imp_id=56bf5b33-3fac-4898-aff5-97e2b2b8b407">Fiverr</a>
                  <a href="www.publish0x.com/energy-readings-body-scans-and-aura-views">Wandering Wizard blog</a>
                  <a href="https://www.publish0x.com/energy-readings-body-scans-and-aura-views">Aura blog publish Ox</a>
                  <a href="#">Add link here</a>
                  <a href="#">Add link here</a>
                </div>
              </li>
            <li class="link"><a href="{{site.baseurl}}/contact/">Contact</a></li>
            </ul>
    </nav>
</div>
 
