<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="{{site.baseurl}}/">Home</a></li>
              <li class="link"><a href="{{site.baseurl}}/about/">About</a></li>
              <li class="link"><a href="{{site.baseurl}}/archive/">Archive</a></li>
              <li class="dropdown link">
                <a href="#" class="dropbtn">Important Links</a>
                <div class="dropdown-content">
                  <a href="https://www.youtube.com/@jeffjones-fv3ds">YouTube</a>
                  <a href="https://www.fiverr.com/s/DBXpQND">Fiverr</a>
                  <a href="https://buymeacoffee.com/screamingintothenight">Buy me a cup of coffee</a>
                  <a href="#">Publish ox</a>
                  <a href="#">Publish ox</a>
                  <a href="#">Publish ox</a>
                </div>
              </li>
            <li class="link"><a href="{{site.baseurl}}/contact/">Contact</a></li>
            </ul>
    </nav>
</div>
 
